<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <base href="/">
        <title>SurveyInCloud</title>
    </head>
    <body ng-app="app" ng-controller="MainController">

        <form name="myForm" ng-submit="navigateTopicsBandC()">
            <div class="page-header">
                <h1>DDG Cascade July, 16</h1>
            </div>

            <div class="radio">
                <label>Which location are you in?</label>
                <label>
                    <input type="radio" ng-model="topicA" value="Matheson">Matheson House
                </label>
            </div>

            <div class="radio">
                <label>
                    <input type="radio" ng-model="topicA" value="Plaza">Plaza
                </label>
            </div>

            <div class="radio">
                <label>
                    <input type="radio" ng-model="topicA" value="IntHouse">International House
                </label>
            </div>            

            <button ng-click="keepAnswerA(topicA)" class="btn btn-success btn-lg btn-block" 
                    ng-disabled="!topicA" />
            <span class="glyphicon glyphicon-flash"></span> Next
        </button>

        <footer class="footer">
            <div class="container">
                <p class="text-muted"></p>
            </div>
        </footer>
    </form>
</body>
