<!DOCTYPE html>
<html lang="en">
    <head>
        <title>URL Shortener</title>
    </head>
    <form ng-submit="submitFeedback('nextview')">
        <div class="page-header">
            <h1>Topic Feedback</h1>
        </div>

        <div class="alert alert-danger ng-hide" role="alert" ng-show="errormsg">
            <button type="button" class="close" aria-label="Close" ng-click="hideerr()"><span aria-hidden="true">&times;</span></button>
            <strong>Error!</strong> {{ errormsg}}
        </div>


        
        <div class="radio">
            <label>
                <input type="radio" ng-model="feedback.topic" value="The topic was very interesting and useful">The topic was very interesting and useful
                The topic was very interesting and useful
            </label>
        </div>

        <div class="radio">
            <label>
                <input type="radio" ng-model="feedback.topic" value="The topic was interesting however I don't think is useful to perform my work on a daily basis"> 
                The topic was interesting however I don't think is useful to perform my work on a daily basis
            </label>
        </div>
        <div class="radio">
            <label>
                <input type="radio" ng-model="feedback.topic" value="The topic was not interesting however I will add to my CV"> 
                The topic was not interesting however I will add to my CV
            </label>
        </div>

        <button type="submit" class="btn btn-success btn-lg btn-block">
            <span class="glyphicon glyphicon-flash"></span> Next
        </button>

        <footer class="footer">
            <div class="container">
                <p class="text-muted"></p>
            </div>
        </footer>
    </form>
