<!DOCTYPE html>
<html lang="en">
    <head>
        <title>URL Shortener</title>
    </head>
    <form ng-submit="submitFeedback('nextview')">
    <div class="page-header">
        <h1>Topic Feedback</h1>
    </div>

    <div class="alert alert-danger ng-hide" role="alert" ng-show="errormsg">
        <button type="button" class="close" aria-label="Close" ng-click="hideerr()"><span aria-hidden="true">&times;</span></button>
        <strong>Error!</strong> {{ errormsg}}
    </div>


    <div class="checkbox">
        <label>
            <input type="checkbox" style="min-height:80px;min-width:80px;"> The topic was very interesting and useful
        </label>
    </div>

    <div class="checkbox">
        <label>
            <input type="checkbox"> The topic was interesting however I don't think is useful to perform my work on a daily basis
        </label>
    </div>
    <div class="checkbox">
        <label>
            <input type="checkbox"> The topic was not interesting however I will add to my CV
        </label>
    </div>
    <div class="checkbox">
        <label>
            <input type="checkbox"> The topic was not interesting not even useful to add in my CV
        </label>
    </div>
    <div class="checkbox">
        <label>
            <input type="checkbox"> Training 5
        </label>
    </div>



    <button type="submit" class="btn btn-success btn-lg btn-block">
      <span class="glyphicon glyphicon-flash"></span> Submit!
    </button>

    <footer class="footer">
        <div class="container">
            <p class="text-muted"></p>
        </div>
    </footer>
</form>
