<!DOCTYPE html>
    <head>
        <title>Feedabck Survey</title>
    </head>
<body ng-app="app" ng-controller="MainController">

    <form name="myForm" ng-submit="submitFeedback()">
    </br>
    <div><h1>Please, provide your feedback</h1></div>

    <div class="radio">
        <textarea ng-model="freetext" required class="form-control custom-control" 
                  ng-minlength="3" ng-maxlength="100" rows="5"  columns="20" style="resize:none">
                      
        </textarea> 
        
    </div>
    </br>
    <button ng-click="keepFeeText(freetext)" class="btn btn-success btn-lg btn-block" 
             />
    <span class="glyphicon glyphicon-flash"></span> Next
    </button>
    


