<!DOCTYPE html>
<html lang="en">
    <head>
        <title>URL Shortener</title>
    </head>
    <form ng-submit="submitGoal('nextview')">
        <div class="page-header">
            <h1>Topic Feedback</h1>
        </div>

        <div class="alert alert-danger ng-hide" role="alert" ng-show="errormsg">
            <button type="button" class="close" aria-label="Close" ng-click="hideerr()"><span aria-hidden="true">&times;</span></button>
            <strong>Error!</strong> {{ errormsg}}
        </div>


        <div class="checkbox">
            <label>
                <input type="checkbox"> I joint to this meeting to improve my knowledge in this tech
            </label>
        </div>

        <div class="checkbox">
            <label>
                <input type="checkbox"> I attended the topic because I was bored at home
            </label>
        </div>
        <div class="checkbox">
            <label>
                <input type="checkbox"> I need to master in this topic
            </label>
        </div>
       



        <button type="submit" class="btn btn-success btn-lg btn-block">
            <span class="glyphicon glyphicon-flash"></span> Next
        </button>

        <footer class="footer">
            <div class="container">
                <p class="text-muted"></p>
            </div>
        </footer>
    </form>
