<!DOCTYPE html>
<html lang="en">
    <head>
        <title>URL Shortener</title>
    </head>
    <body ng-controller="MainController">
        <form ng-submit="submitGoal('nextview')">

            {{ infoProvided}} 

            <div class="page-header">
                <h1>Topic Feedback</h1>
            </div>

            <div class="radio">
                <label>What is better??</label>
                <label>
                    <input type="radio" ng-model="topicB" value="100 chicken sized elephants">100 chicken sized elephants
                </label>
            </div>

            <div class="radio">
                <label>
                    <input type="radio" ng-model="topicB" value="1 elephant sized chicken">1 elephant sized chicken
                </label>
            </div>
            <label>And..the most important question!!</label>
            <div class="radio">
                <label>
                    <input type="radio" ng-model="topicC" value="Ant">Ant
                </label>
            </div>

            <div class="radio">
                <label>
                    <input type="radio" ng-model="topicC" value="Dec">Dec
                </label>
            </div>

            <button ng-click="keepAnswersBandC(topicB, topicC)" class="btn btn-success btn-lg btn-block" 
                    ng-disabled="!topicB || !topicC" />
            <span class="glyphicon glyphicon-flash"></span> Next
            
        </button>

        <footer class="footer">
            <div class="container">
                <p class="text-muted"></p>
            </div>
        </footer>
    </form>
