<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Graphs Feedback</title>
    </head>
    <body ng-app="app" ng-controller="MainController">
        <div class="page-header">
                <h1>Thank you for the feedback</h1>
            </div>
                <h3>Pie Chart</h3>        
                  <draw-bar-chart id="barChartContainer" chart-data="barChartData" style="width: 100%;"></draw-bar-chart>
        
    <h3>Pie Chart</h3>
 <draw-pie-chart chart-data="data" style="width: 80%;>
 
<!--        <div class="hc-pie" items="limitedPlayers" style="width: 120%; margin-left: 0px;"></div>-->
         <!--<div class="hc-pie-better" items="limitedBetter" style="width: 120%; margin-left: 0px;"></div>-->
<!--        </div>
-->       
        <!--<div class="hc-pieBetterTv" items="limitedBetterTv" style="width: 120%; margin-left: 0px;"></div>-->
      
            
      
       <button ng-click="keepCgNumber(value)" class="btn btn-success btn-lg btn-block">
            <span class="glyphicon glyphicon-flash"></span> Next
        </button>
        <footer class="footer">
            <div class="container">
                <p class="text-muted"></p>
            </div>
        </footer>
