<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Charts Feedback</title>
    </head>
    <body ng-app="app" ng-controller="MainController">
        <div class="page-header">
                <p>{{taglineFeedback}}</p>
            </div>
               <h3>Best football player in the world?</h3> 
    <draw-pie-chart chart-data="data" style="width: 70%";></draw-pie-chart>
        
    <h3>100 chicken sized elephants or 1 elephant sized chicken?</h3>
    <draw-pie-chart-better chart-data="dataBetter" style="width: 70%";></draw-pie-chart-better>
     <h3>Ant or Dec?</h3>
     <draw-pie-chart-better-tv chart-data="betterTv" style="width: 70%";></draw-pie-chart-better-tv>
<!-- <draw-bar-chart chart-data="barChartData" style="width: 100%;"></draw-bar-chart>-->
 
<!--        <div class="hc-pie" items="limitedPlayers" style="width: 120%; margin-left: 0px;"></div>-->
         <!--<div class="hc-pie-better" items="limitedBetter" style="width: 120%; margin-left: 0px;"></div>-->
<!--        </div>
-->       
        <!--<div class="hc-pieBetterTv" items="limitedBetterTv" style="width: 120%; margin-left: 0px;"></div>-->
      
            
      
       <button ng-click="seeResults()" class="btn btn-success btn-lg btn-block">
            <span class="glyphicon glyphicon-flash"></span>See Updated Results
        </button>
        <footer class="footer">
            <div class="container">
                <p class="text-muted"></p>
            </div>
        </footer>
