<head>
    <script src="libs/angular-messages/angular-messages.min.js"></script>   
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />

</head>
<div class="jumbotron text-center">
    <form name="myForm" ng-submit="navigateFeedbackTopic()">
        
        <p>{{ tagline }}</p>

        <br/>
        <input type="text" name="netId" ng-model="netId" >
        <br/><i>Leave blank if you'd prefer to remain anonymous</i>
        <br/>
        <br/>
        <input type="text" name="event" ng-model="event" >


        </br> </br>
        <button ng-click="submitCGNum(netId, event)" class="btn btn-success btn-lg btn-block">
            <span class="glyphicon glyphicon-flash"></span> Next
        </button>
    </form>
